@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  /* ### Primary */

  --Blue: hsl(246, 80%, 60%);

  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  /* ### Neutral */

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: var(--Very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.person {
  margin: 81px 24px 24px 24px;
  background-color: var(--Dark-blue);
  width: 87.2vw;
  max-width: 702px;
  height: 203px;
  border-radius: 15px;
  color: white;
}
.details {
  display: flex;
  align-items: center;

  background-color: var(--Blue);
  border-radius: 15px;
  height: 133px;
}
.details img {
  max-width: 64px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  margin: 0 20px 0 32px;
}
.name span {
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  color: #bbc0ff;
}
.name div {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
.timeFrame {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}
.timeFrame p {
  line-height: 21px;
  text-align: center;
  color: #7078c9;
  padding: 10px;
}
.timeFrame p:hover {
  cursor: pointer;
  color: white;
}

.work,
.play,
.study,
.exercise,
.social,
.selfCare {
  width: 87.2vw;
  height: 160px;
  margin-bottom: 24px;
  border-radius: 15px;
  color: white;
  position: relative;
}

.work {
  background: url("images/icon-work.svg ") no-repeat right top;
  background-color: var(--Light-red-work);
}
.play {
  background: url("images/icon-play.svg") no-repeat right top;
  background-color: var(--Soft-blue-play);
}
.study {
  background: url("images/icon-study.svg") no-repeat right top;
  background-color: var(--Light-red-study);
}
.exercise {
  background: url("images/icon-exercise.svg") no-repeat right top;
  background-color: var(--Lime-green-exercise);
}
.social {
  background: url("images/icon-social.svg") no-repeat right top;
  background-color: var(--Violet-social);
}
.selfCare {
  background: url("images/icon-self-care.svg") no-repeat right top;
  background-color: var(--Soft-orange-self-care);
}
.activity {
  background-color: var(--Dark-blue);
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 127px;
  padding: 28px 24px;
}
.activity:hover {
  cursor: pointer;
  background-color: hsl(235, 46%, 30%);
}
.type,
.times {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon img {
  padding: 10px 5px;
}
.icon img:hover {
  filter: brightness(10);
  cursor: pointer;
}
.times div:nth-child(1) {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  margin-right: 15px;
}
.times div:nth-child(2) {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: var(--Pale-Blue);
  text-align: left;
}
.type p {
  font-weight: 500;
  line-height: 21px;
}
.atribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  .person {
    grid-column: 1/3;
  }
  .details {
    justify-content: left;
    align-items: center;
  }
  .details > div {
    margin-left: 2vw;
  }
  .details img {
    margin-left: 4vw;
    max-width: 75px;
  }
  .name div {
    font-size: 37px;
    padding-top: 0.5vw;
  }
  .work,
  .play,
  .study,
  .exercise,
  .social,
  .selfCare {
    width: 43.6vw;
    max-width: 327px;
  }
}

@media (min-width: 1100px) {
  body {
    height: 100%;
  }
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 10vw;
    margin-bottom: 20px;
  }
  .person {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 17.708vw; /*255px = 17.708vw*/
    max-width: 260px;
    height: 518px;
    margin: 0;
  }
  .details {
    flex-direction: column;
    height: 345px;
  }
  .details > div {
    margin: 0 84px 80px 32px;
  }
  .details img {
    align-self: flex-start;
    margin: 37px 145px 43px 32px;
    max-width: 78px;
  }
  .name div {
    font-size: 40px;
    line-height: 47px;
  }
  .timeFrame {
    flex-direction: column;
    height: auto;
    margin: 22px 0 32px 32px;
  }
  .timeFrame p {
    width: 100%;
    text-align: left;
  }
  .work,
  .play,
  .study,
  .exercise,
  .social,
  .selfCare {
    width: 17.708vw;
    max-width: 260px;
    height: 244px;
    margin: 0;
  }
  .activity {
    height: 199px;
    padding: 0;
    margin: 0;
  }
  .type {
    margin: 0;
    padding: 29px 35px 24px 30px;
    width: 100%;
  }
  .times {
    flex-direction: column;
    margin: 0;
    padding: 0 81px 32px 30px;
    align-items: flex-start;
  }

  .times div:nth-child(1) {
    font-size: 56px;
    line-height: 66px;
    padding-bottom: 8px;
  }
}
