@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  /* ### Primary */

  --Blue: hsl(246, 80%, 60%);

  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  /* ### Neutral */

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  /* background-color: var(--Very-dark-blue); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}
.person {
  margin: 81px 24px 24px 24px;
  background-color: var(--Dark-blue);
  width: 87.2vw;
  max-width: 654px;
  height: 203px;
  border-radius: 15px;
  color: white;
}
.details {
  display: flex;
  align-items: center;
  background-color: var(--Blue);
  border-radius: 15px;
  height: 133px;
}
.details img {
  max-width: 64px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  margin: 0 20px 0 32px;
}
.name span {
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  color: #bbc0ff;
}
.name div {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
.timeFrame {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}
.timeFrame p {
  line-height: 21px;
  text-align: center;
  color: #7078c9;
}
.work,
.play,
.study,
.exercise,
.social,
.selfCare {
  width: 327px;
  height: 160px;
  margin: 24px;
  border-radius: 15px;
  color: white;
  position: relative;
}
.work {
  background: url("images/icon-work.svg ") no-repeat right top;
  background-color: var(--Light-red-work);
}
.play {
  background: url("images/icon-play.svg") no-repeat right top;
  background-color: var(--Soft-blue-play);
}
.study {
  background: url("images/icon-study.svg") no-repeat right top;
  background-color: var(--Light-red-study);
}
.exercise {
  background: url("images/icon-exercise.svg") no-repeat right top;
  background-color: var(--Lime-green-exercise);
}
.social {
  background: url("images/icon-social.svg") no-repeat right top;
  background-color: var(--Violet-social);
}
.selfCare {
  background: url("images/icon-self-care.svg") no-repeat right top;
  background-color: var(--Soft-orange-self-care);
}
.activity {
  background-color: var(--Dark-blue);
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 127px;
}
.atribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  .person {
    grid-column: 1/3;
  }
}
